.field-container {
  margin-right: 10px;
}

.yaxchilan-space,
.tikal-space,
.uxmal-space,
.chichen-itza-space {
  display: flex;
  align-items: center;
}

.space-name {
  font-weight: bold;
  width: 120px;
}

.space {
  width: 35px;
  border: solid black 2px;
  padding: 0.2vmin 0vmin 0.2vmin 0vmin;
  margin-right: 5px;
}

.worker-space {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  /* 枠線の色を指定 */
  margin: auto;
}
