#number-of-players-input {
  width: 30px;
  margin-right: 5px;
}

#submit-button {
  background-color: blue;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* ボタンが無効になったときのスタイル */
#submit-button[disabled] {
  background-color: gray;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.field-container {}

.yaxchilan-space, .tikal-space, .uxmal-space, .chichen-itza-space {
  display: flex;
  align-items: center;
}

.space-name {
  font-weight: bold;
  width: 120px;
  margin: 0 5px 10px 0;
}

.space {
  border: solid black 2px;
  padding: 0.2vmin 0vmin 0.2vmin 0vmin;
  margin-right: 5px;
}

.space-container {
  display: flex;
  justify-content: flex-end;
}


.palenque-space {
  display: flex;
  border: solid black 0.3vmin;
  padding: 0.2vmin 0vmin 0.2vmin 0vmin;
}

.palenque-space span {
  display: flex;
  margin-right: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.palenque-space span p {
  margin: 0;
  height: 20px;
}

.wood-chip-space {
  width: 20px;
  background-color: #7F4D28;
}

.corn-chip-space {
  width: 20px;
  background-color: #E7C605;
}

.temples {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
