.game-status {
  display: flex;
  padding: 10px;
}

.turn-player {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  border: solid black 2px;
}

#number-of-players-input {
  width: 30px;
  margin-right: 5px;
}

#submit-button {
  background-color: blue;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* ボタンが無効になったときのスタイル */
#submit-button[disabled] {
  background-color: gray;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.field-container {
  margin-right: 10px;
}

.yaxchilan-space,
.tikal-space,
.uxmal-space,
.chichen-itza-space {
  display: flex;
  align-items: center;
}

.space-name {
  font-weight: bold;
  width: 120px;
}

.space {
  width: 35px;
  border: solid black 2px;
  padding: 0.2vmin 0vmin 0.2vmin 0vmin;
  margin-right: 5px;
}

.worker-space {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid; /* 枠線の色を指定 */
  margin: auto; 
}

.player-red {
  background-color: red;
}

.player-blue {
  background-color: blue;
}

.player-green {
  background-color: green;
}

.player-yellow {
  background-color: yellow;
}

.space-container {
  display: flex;
  justify-content: flex-end;
}

.temples {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
